# Entorno / secretos
.env
*.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist/
build/
pip-wheel-metadata/

# Virtualenv
.venv/
venv/
env/

# Django
staticfiles/
media/
db.sqlite3
*.log

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
