{% load static %}
<nav
  id="mainNav"
  class="navbar navbar-expand-lg fixed-top navbar-custom {% if is_home %}navbar-initial navbar-dark{% else %}navbar-scrolled navbar-light{% endif %}"
  data-is-home="{% if is_home %}1{% else %}0{% endif %}"
>
  <div class="container">
    <a class="navbar-brand fw-bold text-uppercase" href="{% url 'index' %}">
      <img
        id="brandLogo"
        alt="Comervial"
        src="{% static 'img/comervial.png' %}{% if is_home %}light{% else %}dark{% endif %}.png"
        data-light="{% static 'img/comervial.png' %}"
        data-dark="{% static 'img/comervialblack.png' %}"
      >
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent"
            aria-controls="navContent" aria-expanded="false" aria-label="Menú">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navContent">
      <ul class="navbar-nav ms-auto align-items-lg-center">

        <li class="nav-item"><a class="nav-link px-lg-3" href="{% url 'index' %}">Inicio</a></li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle px-lg-3" href="#" data-bs-toggle="dropdown">Cristales</a>
          <ul class="dropdown-menu shadow">
            <li><a class="dropdown-item" href="{% url 'barandas' %}">Barandas</a></li>
            <li><a class="dropdown-item" href="{% url 'muebles' %}">Muebles</a></li>
            <li><a class="dropdown-item" href="{% url 'shower_door' %}">Shower Door</a></li>
            <li><a class="dropdown-item" href="{% url 'mamparas' %}">Mamparas</a></li>
            <li><a class="dropdown-item" href="{% url 'reposicion_cristales' %}">Reposición de Cristales</a></li>

          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle px-lg-3" href="#" data-bs-toggle="dropdown">Ventanas</a>
          <ul class="dropdown-menu shadow">
            <li><a class="dropdown-item" href="{% url 'corredera' %}">Corredera</a></li>
            <li><a class="dropdown-item" href="{% url 'abatible' %}">Abatible</a></li>
            <li><a class="dropdown-item" href="{% url 'oscilobatiente' %}">Oscilobatiente</a></li>
            <li><a class="dropdown-item" href="{% url 'proyectante' %}">Proyectante</a></li>
            <li><a class="dropdown-item" href="{% url 'fija' %}">Fija</a></li>
            <li><a class="dropdown-item" href="{% url 'bow_window' %}">Bow Window</a></li>
            <li><a class="dropdown-item" href="{% url 'medio_punto' %}">Medio Punto</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle px-lg-3" href="#" data-bs-toggle="dropdown">Puertas</a>
          <ul class="dropdown-menu shadow">
            <li><a class="dropdown-item" href="{% url 'puertas_abatibles' %}">Abatibles</a></li>
            <li><a class="dropdown-item" href="{% url 'puertas_correderas' %}">Correderas</a></li>
            <li><a class="dropdown-item" href="{% url 'puertas_elevadoras' %}">Elevadoras (Lift & Slide)</a></li>
            <li><a class="dropdown-item" href="{% url 'puertas_templado' %}">Cristal templado</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown ms-lg-2">
          <a class="btn btn-outline-light btn-cta dropdown-toggle" href="#" data-bs-toggle="dropdown">Cotizador</a>
          <ul class="dropdown-menu dropdown-menu-end shadow">
            <li><a class="dropdown-item" href="{% url 'quotes:cotizador' %}">Cotizador</a></li>
            <li><a class="dropdown-item" href="{% url 'quotes:cotizador_personalizado' %}">Cotizador Personalizado</a></li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link px-lg-3" href="{% url 'catalog:catalog_list' %}">Catálogo</a></li>

        <!-- Perfil -->
        <li class="nav-item dropdown ms-lg-2">
          <a class="nav-link dropdown-toggle px-lg-3" href="#" data-bs-toggle="dropdown">
            {% if request.user.is_authenticated %}{{ request.user.username }}{% else %}Perfil{% endif %}
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow">
            {% if request.user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'profile' %}">Mi cuenta</a></li>
              {% if request.user.is_superuser %}
                <li><hr class="dropdown-divider"></li>
                <li class="dropdown-header">Gestión</li>
                <li><a class="dropdown-item" href="{% url 'catalog:catalog_manage' %}">Gestionar catálogo</a></li>
                <li><a class="dropdown-item" href="{% url 'catalog:product_create' %}">Nuevo producto</a></li>
                <li><a class="dropdown-item" href="/panel/">Django Admin</a></li>
              {% endif %}
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar sesión</a></li>
              <li><a class="dropdown-item" href="{% url 'signup' %}">Registrarse</a></li>
            {% endif %}
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
