{% extends 'base.html' %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
  <h1>¡La página de restablecimiento de contraseña está cargada correctamente!</h1>
  <div class="password-reset-container">
    <h2 class="text-center">Restablecer Contraseña</h2>
    <p class="text-center">¿Olvidaste tu contraseña? Ingresa tu dirección de correo electrónico y te enviaremos las instrucciones para configurar una nueva.</p>
    
    <form method="post" class="form-reset">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Restablecer mi contraseña</button>
    </form>
  </div>
{% endblock %}
